OPENMETADATA_VERSION=1.12.3
OPENMETADATA_BIND_IP=10.155.38.139
OPENMETADATA_PORT=8585
OPENMETADATA_ADMIN_PORT=8586
OPENMETADATA_CLUSTER_NAME=openmetadata
LOG_LEVEL=INFO

MYSQL_ROOT_PASSWORD=change-me-root
DB_USER=openmetadata_user
DB_USER_PASSWORD=openmetadata_password
OM_DATABASE=openmetadata_db
DB_HOST=mysql
DB_PORT=3306
DB_PARAMS=allowPublicKeyRetrieval=true&useSSL=false&serverTimezone=UTC

ELASTICSEARCH_HOST=elasticsearch
ELASTICSEARCH_PORT=9200
ELASTICSEARCH_SCHEME=http
SEARCH_TYPE=elasticsearch

AUTHENTICATION_PROVIDER=basic
AUTHENTICATION_ENABLE_SELF_SIGNUP=true
AUTHORIZER_ADMIN_PRINCIPALS=[admin]
AUTHORIZER_ALLOWED_REGISTRATION_DOMAIN=["all"]
AUTHORIZER_INGESTION_PRINCIPALS=[ingestion-bot]
JWT_ISSUER=open-metadata.org
JWT_KEY_ID=Gb389a-9f76-gdjs-a92j-0242bk94356
FERNET_KEY=replace-with-a-generated-fernet-key

PIPELINE_SERVICE_CLIENT_ENABLED=false
PIPELINE_SERVICE_CLIENT_ENDPOINT=http://10.155.38.139:8080
SERVER_HOST_API_URL=http://openmetadata-server:8585/api
OPENMETADATA_SERVER_URL=http://10.155.38.139:8585

OPENMETADATA_HEAP_OPTS=-Xmx1G -Xms1G
ES_JAVA_OPTS=-Xms512m -Xmx512m
