KEYCLOAK_VERSION=26.5.5
KEYCLOAK_BIND_IP=10.155.38.139
KEYCLOAK_HTTP_PORT=8090
KEYCLOAK_HTTPS_PORT=8443
KEYCLOAK_MANAGEMENT_PORT=9000
KEYCLOAK_HOSTNAME=https://10.155.38.139:8443

KEYCLOAK_ADMIN_USERNAME=admin
KEYCLOAK_ADMIN_PASSWORD=change-me-admin

KEYCLOAK_DB_NAME=keycloak
KEYCLOAK_DB_USER=keycloak
KEYCLOAK_DB_PASSWORD=change-me-db
POSTGRES_PASSWORD=change-me-postgres

KEYCLOAK_REALM=ckuens-platform
KEYCLOAK_CLIENT_ID=data-platform-ui
KEYCLOAK_CLIENT_SECRET=change-me-client-secret
KEYCLOAK_REDIRECT_URI=http://10.155.38.139:8501

MICROSOFT_TENANT_ID=7a868a2c-2d6a-470b-aa53-e03cfe747558
MICROSOFT_CLIENT_ID=bb9a553b-3973-4fa7-8251-3df4b8710847
MICROSOFT_CLIENT_SECRET=change-me-azure-client-secret
MICROSOFT_IDP_ALIAS=microsoft
