MLFLOW_VERSION=3.10.1
MLFLOW_BIND_IP=10.155.38.139
MLFLOW_PORT=5002
MLFLOW_ALLOWED_HOSTS=10.155.38.139,127.0.0.1,localhost

POSTGRES_DB=mlflow
POSTGRES_USER=dataplatform
POSTGRES_PASSWORD=Dataplatform@123
POSTGRES_PASSWORD_URLENCODED=Dataplatform%40123

MINIO_ROOT_USER=dataplatform
MINIO_ROOT_PASSWORD=Dataplatform@123
MLFLOW_BUCKET=mlflow-artifacts
AWS_DEFAULT_REGION=us-east-1
