AIRFLOW_UID=50000
AIRFLOW_ADMIN_USERNAME=airflow
AIRFLOW_ADMIN_PASSWORD=change-me-now
AIRFLOW_FERNET_KEY=replace-with-a-generated-fernet-key
AIRFLOW_SECRET_KEY=replace-with-a-random-long-secret
AIRFLOW_HOST_BIND=10.155.38.139
AIRFLOW_PORT=8080
AIRFLOW_BASE_URL=http://10.155.38.139:8080
AIRFLOW_API_BASE_URL=http://10.155.38.139:8080
POSTGRES_USER=airflow
POSTGRES_PASSWORD=airflow
POSTGRES_DB=airflow
