MARQUEZ_VERSION=0.50.0
OPENLINEAGE_BIND_IP=10.155.38.139
MARQUEZ_API_PORT=5000
MARQUEZ_ADMIN_PORT=5001
MARQUEZ_WEB_PORT=3000

POSTGRES_DB=marquez
POSTGRES_USER=marquez
POSTGRES_PASSWORD=change-me-marquez
POSTGRES_ROOT_PASSWORD=change-me-postgres

MARQUEZ_DB_HOST=db
MARQUEZ_DB_PORT=5432
SEARCH_ENABLED=false
LOG_LEVEL=INFO
